# Kakao Maps (JavaScript Key)
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=04d7412423d2fd179e3b453d3bbb77ba

# Turso (libSQL)
TURSO_DATABASE_URL=libsql://battery-lazalus.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzA4OTIzMjIsImlkIjoiOWJmYWMwY2MtNDVjOS00ZTczLWJjYjItYjViYjk2YmZiYzE4IiwicmlkIjoiNDdkMWRmNGUtN2MwOS00YmY5LWEwYWYtYzUzNTliMmEwZDNjIn0.bWVt2IM1Pg7xQLbuBpOQiVS7Zz-jspBSNkZ2sHbnWckuWUz476v4BEWmLAI9PM8WY7ZKvsZpzffN1TUXTtycCg
